.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}
body {
  background: #f2f2f2;
  overflow: hidden;
}
.pricing {
  position: absolute;
  width: 239px;
  height: 111px;
  left: 601px;
  top: 71px;
}
.pricing-paragraph {
  position: absolute;
  height: 39px;
  left: 9.62%;
  right: 10.04%;
  top: calc(50% - 39px / 2 - 36px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #6e728e;
}
.price {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 71.17%;
  bottom: 0%;
  text-align: center;
  justify-content: space-between;
} /* 
.mon{
    left: 0%;
    text-align: left;
} */

.click {
  position: absolute;
  width: 56px;
  height: 32px;
  left: 94px;
  top: 0px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 16px;
}
.container1 {
  position: absolute;
  width: 350px;
  height: 453px;
  left: 195px;
  top: 270px;
  background: red;
  border-radius: 0%;
  align-items: center;
}
.item1 {
  position: absolute;
  height: 28px;
  left: 42.71%;
  right: 42.71%;
  top: calc(50% - 28px / 2 - 181.5px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #6e728e;
}
.first-container {
  position: absolute;
  left: 8.86%;
  right: 8.86%;
  top: 41.06%;
  bottom: 23.62%;
}
.currency1 {
  position: absolute;
  height: 71px;
  left: 16.02%;
  right: -1.46%;
  top: calc(70% - 71px / 2);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #4a4d60;
}
.currency2 {
  position: absolute;
  height: 28px;
  left: 28.82%;
  right: 28.47%;
  top: calc(50% - 28px / 2 - 53px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6e728e;
}
.currency3 {
  position: absolute;
  height: 28px;
  left: 28.82%;
  right: 28.47%;
  top: calc(50% - 28px / 2 - 53px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6e728e;
  border-radius: 10%;
}
.user {
  position: absolute;
  height: 28px;
  left: 28.65%;
  right: 27.95%;
  top: calc(50% - 28px / 2);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6e728e;
}
.send {
  position: absolute;
  height: 28px;
  left: 28.3%;
  right: 27.95%;
  top: calc(50% - 28px / 2 + 53px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6e728e;
}
.learn {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 80%;
  bottom: 10%;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-radius: 6px;
  align-items: center;
  text-align: center;
}
.container2 {
  position: absolute;
  width: 350px;
  height: 501px;
  left: 545px;
  top: 246px;
  background: linear-gradient(135.06deg, #a2a7f0 -0.05%, #696edd 100.05%);
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
}
.second-container {
  position: absolute;
  left: 8.86%;
  right: 8.86%;
  top: 41.06%;
  bottom: 23.62%;
  border-radius: 10%;
}
.item2 {
  position: absolute;
  height: 28px;
  left: 33.29%;
  right: 33.57%;
  top: calc(50% - 28px / 2 - 181.5px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.first {
  position: absolute;
  height: 81px;
  left: 14.6%;
  right: -0.88%;
  top: calc(50% - 71px / 2);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #ffffff;
}
.second {
  position: absolute;
  height: 24px;
  left: 25.08%;
  right: 26.74%;
  top: calc(50% - 28px / 2 + 45px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.third {
  position: absolute;
  height: 28px;
  left: 27.08%;
  right: 26.74%;
  top: calc(50% - 28px / 2 + 25px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.fourth {
  position: absolute;
  height: 28px;
  left: 27.08%;
  right: 26.74%;
  top: calc(50% - 28px / 2 + 33px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.fifth {
  position: absolute;
  height: 28px;
  left: 27.08%;
  right: 26.74%;
  top: calc(50% - 28px / 2 + 53px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.learn1 {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 80%;
  bottom: 10%;
  background: white;
  border-radius: 6px;
  align-items: center;
  text-align: center;
}
/* .container3 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 0px 10px 10px 0px;
}
 */