@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  
}
html {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 100%;
  min-height: 100%;
  font-size: 15px;
  font-family:Montserrat;
  background-color: hsl(240, 78%, 98%);
  background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
  background-repeat: no-repeat no-repeat;
  background-size: 20px, 10px;
}
h1 {
  text-align: center;
  padding: 2% 0;
  font-size: 50px;
  color: hsl(233, 13%, 49%);
}
h2 {
  font-size: 18px;
  padding: 50px 50px;
  font-weight: 700;
  font-family: Montserrat;
}
h4 {
  font-size: 72px;
  padding: 16px 48px;
  display: none;
  font-style: Montserrat;
  font-weight: 700;
}
h3{
   font-size: 72px;
  padding: 16px 48px;
  font-style: Montserrat;
  font-weight: 700;

}
p {
  font-size: 16px;
}
.selector {
  display: flex;
  color: hsl(234, 14%, 74%);
  justify-content: center;
  align-items: center;
}
.select-bar {
  margin: 0 24px;
  padding: 1.9px;
  background-color: hsl(237, 64%, 64%);
  width: 48px;
  height: 24px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.ball {
  width: 25px;
  height: 32;
  border-radius: 50%;
  background-color: white;
  transition-duration: 5000;
  position: absolute;
}
.ball:hover {
  opacity: 0.6;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 32px auto;
}
.section-left,
.section-middle,
.section-right {
  padding: 21px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
}
.section-middle {
  padding: 32px 21px;
  background: linear-gradient(hsl(236, 73%, 80%), hsl(237, 64%, 64%));
  color: white;
  border-radius: 10px;
}
.section-middle p,
.section-left p,
.section-right p {
  padding: 17px 0;
}
.section-left p,
.section-right {
  color: hsl(233, 13%, 49%);
}
.section-left {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.section-right {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.section hr {
  width: 80%;
  margin: auto;
  opacity: 0.2;
}
button {
  width: 84%;
  font-size: 13px;
  margin: 5px auto 0px auto;
  cursor: pointer;
  transition-duration: 3000;
  color: white;
  background-color:#6D72DE;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  height: 44px;
}
.section-middle button {
  color: hsl(237, 63%, 64%);
  background-color: white;
}
.section-middle button:hover {
  color: white;
  background: transparent;
}
button:hover {
  color: hsl(237, 63%, 64%);
  background: transparent;
}
/*Media Query */
@media only screen and(max-width:760px) {
  .section {
    flex-direction: column;
  }
  .section-left,
  .section-middle,
  .section-right {
    margin: 10px;
    border-radius: 10px;
    width: 80%;
  }
}
